<div class="container">
    <h2>User Edit Task</h2>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>

        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="text" class="form-control" id="photo" formControlName="photo">
        </div>

        <button type="submit" class="btn btn-success">Save</button>

    </form>
</div>